* {
  margin: 0;
  padding: 0;
}
/* Shared style */
.drink-card > h1,
.details-btn,
.error-message,
.drink-card > h5,
.drink-card > p {
  text-align: center;
}

.input-field {
  margin: 3rem auto;
  text-align: center;
  max-width: 60%;
  padding: 1rem;
  box-shadow: 4px 8px 6px rgba(155, 131, 155, 0.655);
  padding-bottom: 2rem;
  border-radius: 1rem;
}
.input-field > input {
  width: 80%;
  padding: 0.7rem 1rem;
  text-align: center;
  border: 1px solid gray;
  box-shadow: 4px 6px 4px rgb(206, 157, 206);
  font-size: 1.2rem;
  text-transform: capitalize;
  border-radius: 7px;
}

.input-field > button {
  padding: 0.7rem 1rem;
  background: linear-gradient(to right, #841307, tomato);
  color: #ffffffbd;
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.main-container{
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: .5rem;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 0 auto;
  height: auto;
}
.drink-card {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  box-shadow: 4px 4px 6px #514f4f7f;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.drink-card > img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  object-fit: fill;
  height: auto;
}
span {
  color: gray;
  font-size: 1.3rem;
  /* margin-bottom: 10px; */
}
.drink-card > h1 {
  font-size: 1.3rem;
  padding: 0;
  margin: 0.6rem;
}
.drink-card > h5 {
  color: #333333c3;
  margin: 0 1rem;
  font-size: 1rem;
  margin-bottom: 0.7rem;
}
.drink-card > p {
  color: #333333c3;
  margin: 0 1rem;
  font-size: 1rem;
  margin-bottom: 0.7rem;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.add-to-cart-btn,
.details-btn {
    padding: 5px 15px;
    background-color: #ffffff;
    color: #333;
    font-weight: 600;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 0.5rem;
}
.error-message {
  text-align: center;
  font-size: 2.5rem;
  color: red;
  margin-top: 1.5rem;
}
.cart-container{
  width: 30%;
}
.cart-container > table{
    border-collapse: separate;
    border-spacing: .5rem;
}
#cart-title,.cart-title{
  display: initial;
}

@media screen and (max-width: 576px) {
  .input-field {
    margin: 0.5rem auto;
    max-width: 90%;
    padding: 1rem 0.5rem;
    padding-bottom: 2rem;
  }
  .input-field > input {
    width: 90%;
    padding: 0.7rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
    /* margin: 0 auto; */
    width: 90%;
    justify-items: center;
    height: auto;
  }
}
th{
  border-bottom: 1px solid #333;
}
.table-img{
  border-radius: 50%;
}


@media screen and (min-width: 577px) and (max-width: 992px) {
  .input-field {
    margin: 0.5rem auto;
    max-width: 90%;
    padding: 1rem 0.5rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
  .input-field > input {
    width: 90%;
    margin-bottom: 1rem;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}
